body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 26px;
  font-family: 'Varela Round', sans-serif;
  color: #848999;
  font-size: 14px;
}

.button {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  padding: 14px 29px;
  border-radius: 5px;
  background-color: #801336;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #848a9c;
}

.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button.nav:hover {
  background-color: #9299ad;
}

.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}

.button.big-green:hover {
  background-color: #258575;
}

.button.sign-up {
  background-color: #ee4540;
}

.button.sign-up:hover {
  background-color: #c72c41;
}

.button.dark {
  background-color: #2d142c;
  color: #fff;
  font-weight: 700;
}

.section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #262933;
}

.section.hero {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #2d142c;
  text-align: center;
}

.section.grey {
  background-color: #fafafa;
  text-align: center;
}

.section.centered {
  text-align: center;
}

.section.footer {
  background-color: #363b48;
  text-align: left;
}

.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
}

.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.sign-up {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ee4540;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.nav-link.sign-up:hover {
  background-color: #c72c41;
}

.nav-column {
  margin-top: 20px;
  padding-top: 10px;
  text-align: right;
}

.logo {
  margin-right: 11px;
  float: left;
}

.hero-heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 38px;
  font-weight: 600;
}

.hero-subhead {
  font-family: 'Open Sans', sans-serif;
  color: #a3a8b6;
  font-size: 14px;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 31px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 43px;
  font-family: 'Open Sans', sans-serif;
  color: #848999;
  text-align: center;
}

.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grey-icon {
  margin-right: 9px;
}

.content-column {
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
}

.circle {
  height: 303px;
  margin-bottom: 25px;
  padding-top: 21px;
  border-radius: 190px;
  background-color: #f7f8fa;
}

.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: #eff1f4;
}

.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../images/12-quotes_112-quotes.png');
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: left;
}

.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}

.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}

.by-section {
  text-align: left;
}

.person-icon {
  margin-right: 15px;
  float: left;
}

.location {
  font-family: Varela, sans-serif;
  color: #848999;
  font-size: 15px;
}

.logo-bottom {
  margin-right: 14px;
  float: left;
}

.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: Montserrat, sans-serif;
  color: #7d8391;
  font-size: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.social-icon:hover {
  background-color: #7f89a3;
}

.right-footer-col {
  text-align: right;
}

.nav-bar {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #2d142c;
  color: #2d142c;
}

.image-crop {
  overflow: hidden;
  height: 302px;
  box-shadow: inset 0 -11px 0 0 red;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.image-crop:hover {
  height: 372px;
}

.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}

.center {
  text-align: center;
}

.image {
  padding-bottom: 20px;
}

.image-2 {
  padding-bottom: 20px;
}

.image-3 {
  padding-bottom: 20px;
}

.image-4 {
  opacity: 0.7;
}

.image-5 {
  opacity: 0.7;
}

.image-6 {
  opacity: 0.7;
}

.image-7 {
  opacity: 0.7;
}

.image-8 {
  opacity: 0.7;
}

.image-9 {
  opacity: 0.7;
}

.heading {
  text-align: center;
}

.heading-2 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.heading-3 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.heading-4 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #848999;
  text-align: center;
}

.paragraph-2 {
  font-family: 'Open Sans', sans-serif;
  color: #848999;
}

.paragraph-3 {
  font-family: 'Open Sans', sans-serif;
  color: #848999;
}

.heading-5 {
  font-family: 'Open Sans', sans-serif;
}

.heading-6 {
  font-family: 'Open Sans', sans-serif;
}

.heading-7 {
  font-family: 'Open Sans', sans-serif;
}

.heading-8 {
  font-family: 'Open Sans', sans-serif;
}

.heading-9 {
  font-family: 'Open Sans', sans-serif;
}

.heading-10 {
  font-family: 'Open Sans', sans-serif;
}

.os-heading {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-4 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-5 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-6 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-7 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-8 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-9 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-10 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-11 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-12 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-13 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-14 {
  font-family: 'Open Sans', sans-serif;
}

.paragraph-15 {
  font-family: 'Open Sans', sans-serif;
}

.body {
  margin-left: 1px;
  background-color: #2d142c;
}

.field-label {
  border: 1px none #fff;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.form {
  margin-top: 50px;
}

.form-2 {
  margin-top: 50px;
}

.text-block {
  color: #cecbcb;
  font-size: 20px;
  text-align: center;
}

.container {
  margin-top: 60px;
}

.image-10 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: right;
  text-align: center;
}

.image-11 {
  position: static;
  display: block;
  margin-left: auto;
  padding-top: 1px;
}

.div-block {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding: 32px 15px;
  }
  .section.hero {
    padding-top: 42px;
  }
  .section.footer {
    text-align: center;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .logo {
    margin-top: -14px;
    float: none;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle {
    display: inline-block;
    height: auto;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url('../images/12-quotes_112-quotes.png');
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .nav-bar {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .brand-column {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .button {
    display: block;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .hero-subhead {
    margin-bottom: 34px;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    text-align: center;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url('../images/12-quotes_112-quotes.png');
    background-position: 8% 17%;
  }
  .column {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}